# compiled output
/dist
/node_modules
/build
/facebook-chat-api
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# image, audio, video
/public/videos/*.mp4
/public/files/*.txt
/public/files/*.mp4
/public/files/*.mp3
/public/files/*.pdf
/public/files/*.jpg
/public/images/*.png
/public/images/*.jpg
/public/images/*.webp
/public/audios/*mp3

# 
*.sqlite

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
